body, html {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    color: white;
}
h1, h2 {
    background-color: black;
    font-weight: bold;
    color: white;
    border: 40px;
    margin: 0px;
}
a {
    color: white;
}
.bg {
    background-image: url(../Recipes-v2/recipes/images/Black.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.UL, .OL {
    display: inline-block;
    text-align: center;
    color: white;
}
.link {
    position: absolute;
    top: 8px;
    right: 16px;
    font-weight: bold;
}